.env
*.pyc
src/backend/console_app/truckappcli.egg-info/*
src/backend/console_app/truckberthapp.log
src/backend/console_app/build
dependencies/*
*.log
*.log.*
*celerybeat*
*counter.json
*.yaml
*.pdf
*.ipynb
dependencies/*
tools/
